<section class="jumbotron text-center">
  <div class="container">
    <h1>Album example</h1>
    <p class="lead text-muted">Crie e gerencie sua lista d contatos em um sรณ lugar.</p>
    <p>
      <a href="#" class="btn btn-primary my-2">Lista de contatos</a>
      <a href="#" class="btn btn-secondary my-2">Cadastrar contatos</a>
    </p>
  </div>
</section>