<div class="py-5 bg-light">
  <div class="container">

    <div class="row">

      <h1>Editar Conta</h1>
    </div>

    <div class="row">

      <%= render 'form', user: @user %>

    </div>

   
  </div>
</div>
