<div class="py-5 bg-light">
  <div class="container">

    <div class="row">

      <h1>New Contact</h1>
    </div>

    <div class="row">

      <%= render 'form', contact: @contact %>

    </div>

    <div class="row">
      <%= link_to 'Back', contacts_path %>
    </div>
  </div>
</div>
