<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Voltar ao topo</a>
    </p>
    <p>Quer saber mais <%= link_to  "Sobre nós?", about_path %> Que entrar em <%= link_to  "Contato?", contact_path %>,  Ficamos felizes em ter você aqui.</p>
  </div>
</footer>